@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply bg-zinc-900 h-full overflow-x-hidden;

}

#__next {
  @apply h-full;
}

html{
  @apply h-full;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*.zindex{
  z-index: 1000 !important;
}*/